<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="admin/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="admin/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  <style>
    /* Style for when the user is blocked */
.blocked-user {
border-radius: 20px;
background-color: green; /* Change to desired color */
color: white; /* Change to desired text color */
}

/* Style for when the user is unblocked */
.unblocked-user {
border-radius: 20px;
background-color: rgb(255, 145, 0);/* Change to desired color */
color: white; /* Change to desired text color */
}
</style>
  </head>

  <body id="reportsPage">
    <%-include('./partials/nav.ejs')%>
    
       
  <div class="container mt-5">
    <div class="row">
        <!-- tm-product-table-container will take 70% of the width -->
        <div class="col-lg-8">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <a href="/addproduct">
                    <button class="btn btn-primary btn-block text-uppercase" disabled>
                        TOP SELLING PRODUCTS
                    </button>
                </a><br>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">PRODUCT NAME</th>
                            <th scope="col" style="max-width: 200px;">IMAGE</th>
                            <th scope="col">STOCK</th>
                            <th scope="col">PRICE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% topProducts.forEach((items, id) => { %>
                        <tr>
                            <th scope="col"><%= id + 1 %></th>
                            <th scope="col"><%= items.productName %></th>
                            <th scope="col">
                                <img src="<%= items.productImage %>" style="width: 50px; height: 50px;" />
                            </th>
                            <th scope="col"><%= items.StockCount %></th>
                            <th scope="col"><b> ₹ </b><%= items.price %></th>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- New div taking 30% of the width -->
        <div class="col-lg-4" >
            <div class="tm-bg-secondary-dark tm-block" style="background-color: black;">
                <h2 class="tm-block-title"> <button class="btn btn-primary btn-block text-uppercase" disabled>
                    TOP SELLING Caterory
                </button></h2>
                <%topCategories.forEach((items,id)=>{%>
                <h4 style="text-align: center; color: white;"><%= items.cartegory %></h4>
                
                <%})%>
            </div>
        </div>
    </div>
</div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2024</b> All rights reserved. 
          
          Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Secure Skull</a>
      </p>
      </div>
    </footer>

    <script src="admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="admin/xjs/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
   
  </body>
</html>