<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="/user/images/favicon.png" type="">
      <title>Famms - Fashion HTML Template</title>
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="/user/css/bootstrap.css" />
      <!-- font awesome style -->
      <link href="/user/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/user/css/style.css" rel="stylesheet" />
      <link href="/user/css/modal.css"rel="stylesheet" />
      <!-- responsive style -->
      <link href="/user/css/responsive.css" rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   </head>
   <body>
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="/home"id="defender">𝕯𝖊𝖋𝖊𝖓𝖉𝖊𝖗</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item ">
                           <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="about.html">About</a></li>
                              <li><a href="testimonial.html">Testimonial</a></li>
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/userSideProduct/sort">Products</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="blog_list.html">Blog</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="/userProfile">Profile</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                 <g>
                                    <g>
                                       <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                    </g>
                                 </g>
                                 
                              </svg>
                           </a>
                        </li>
                        
                        <form class="form-inline">
                           <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                           <i class="fa fa-search" aria-hidden="true"></i>
                           </button>
                        </form>
                        <li class="nav-item">
                           <a class="nav-link" href="/userlogout">logout</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </header>


         <div class="profile-box-address">
            <div class="profile-inner-box-address">
               
              <% if(addressData.length===0){%>
                        <p> NO ADDRESS FOUND</p>
                        <button  class="btn-selection-section" href=""data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >Add address</button>

               <% }else{%>
                  <button  class="btn-selection-section" href=""data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >Add address</button>
               <% addressData.forEach((item,id) => { %>
                  
                  <div class="address-box"><button  class="btn-close" id="btn-close-addrees" aria-label="Close" onclick="openModal('<%= item._id %>')"></button>

                     <div id="myModal_<%= item._id %>" class="modal">
                        <div class="modal-content" id="model_data">
                            <span class="close">&times;</span>
                            <p>Are you sure you want to delete the address?</p>
                            <!-- Form with dynamically set action -->
                            <form id="removeForm_<%= item._id %>" method="post" action="/deleteAddress/<%= item._id %>">
                                <button type="submit" id="confirmBtn">Confirm</button>
                            </form>
                        </div>
                    </div>


                      <h3><%= item.userName %> <span></span></h3>
                      <h5><%= item.address %></h5>
                      <p><%= item.city %>, <%= item.state %> <%= item.zipCode %><br>
                          <%= item.country %><br>
                          <%= item.phone %></p>
                      
                          <button class="address-edit" data-address-id="<%= item._id %>">Edit</button>
                          <button class="shipping-address">Active shipping Address</button>


                      
                  </div>

                  

                  <div id="myeditModal-<%= item._id %>" class="modaledit">
                     <div class="modal-content-edit">
                     <span class="close-edit">&times;</span>
                     <!-- Your modal content goes here -->
                     <form >

            
                        <p  id="errorMessage" style="color: red;"></p>
         

                    
                              <h3>Edit the Address</h3>
                              <p  id="errorMessag" style="color: red;"></p>
                              <label for="user-name">userName:</label>
                              <input type="text" class="userNam" name="userName" value="<%= item.userName %>">


                              <label for="address">Address:</label>
                              <textarea class="addres" name="address" rows="4" cols="20" ><%= item.address %></textarea>

                              <label for="city">City:</label>
                              <input type="text" class="cit" name="city" value="<%= item.city %>">

                              <label for="state">State:</label>
                              <input type="text" class="stat" name="state" value="<%= item.state %>">

                              <label for="zipcode">Zip Code:</label>
                              <input type="text" class="zipcod" name="zipcode" value="<%= item.zipCode %>">

                              <label for="phone">Phone:</label>
                              <input type="text" class="phon" name="phone" value="<%= item.phone %>">


                              <label for="country">Country:</label>
                              <input type="text" class="countr" name="country" value="<%= item.country %>">

                              
                              <button class="buttoncls" onclick="editAddress(`<%=item._id%>`)"  value="submit">submit</button>
                                             
      
                  </form>
                     </div>
                  </div>


                 





              <% })} %>

                                          <!-- edit modal -->
                                         
                        
                                             
                                          <style>
                                             /* Modal styles */
                              .modaledit {
                                          display: none;
                                          position:absolute;
                                          z-index: 1;
                                          left: 0;
                                          top: 0;
                                          width: 100%;
                                          height: 100%;
                                          overflow: hidden;
                                          -webkit-overflow-scrolling: touch;
                                          background-color: rgba(0,0,0,0.4);
                              }

                              .modal-content-edit {
                                          margin-left: 30%;
                                          margin-right: 25%;
                                          margin-top: 5%;
                                          margin-bottom: 5%;
                                          background-color: #fefefe;
                                          max-height: 80%;
                                          padding: 20px;
                                          border-radius: 20px;
                                          border: 1px solid #BAFF39;
                                          max-width: 40%; /* Set maximum width for the modal content */
                                          overflow-y: auto; /* Enable vertical scrolling */
                                          -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
                              }

                              .modal-content-edit::-webkit-scrollbar {
                                          display: none;
                              }

                              .buttoncls{
                                          background-color:#BAFF39;;
                                          width: 200px;
                                          height: 40px;
                                          margin-left: 33%;
                                          border-radius: 20px;
                              }
                              .close-edit {
                              color: #aaa;
                              float: right;
                              font-size: 28px;
                              font-weight: bold;
                              }

                              .close-edit:hover,
                              .closclose-edite:focus {
                              color: black;
                              text-decoration: none;
                              cursor: pointer;
                              }
                              input{
                                 color: black;
                              }

                                          </style>
                                          <script>
                                             
                                             // Get the modal
                             
                              // Get the button that opens the modal
                             

                              // Get all edit buttons
                              var editButtons = document.querySelectorAll(".address-edit");

                              // Loop through each edit button and add click event listener
                              editButtons.forEach(function(button) {
                                 button.onclick = function() {
                                    // Get the corresponding modal using the data-address-id attribute
                                    var addressId = this.getAttribute("data-address-id");
                                    var modal = document.getElementById("myeditModal-" + addressId);

                                    // Display the modal
                                    modal.style.display = "block";
                                 };
                              });

// Code for closing modal remains the same





var closeButtons = document.querySelectorAll(".close-edit");

// Loop through each close button and add click event listener
closeButtons.forEach(function(button) {
    button.onclick = function() {
        // Get the parent modal of the clicked close button
        var modal = this.closest(".modaledit");
        // Hide the modal
        modal.style.display = "none";
    };
});



         //fetch edit modal

         function editAddress(id){

                     const userName=document.getElementByClass("userNam").value;
                     const address=document.getElementByClass("addres").value;
                     const city=document.getElementByClass("cit").value;
                     const state=document.getElementByClass("stat").value;
                     const Zipcode=document.getElementByClass("zipcod").value;
                     const phone=document.getElementByClass("phon").value;
                     const country=document.getElementByClass("countr").value;


            const editedAddress={
                     userName:userName,
                     address:address,
                     city:city,
                     state:state,
                     zipcode:Zipcode,
                     phone:phone,
                     country:country

            }



            fetch('/editAddress/'+id,{
                        method: "POST",
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(editedAddress)
                           })
                           .then(response => response.json())
                          
                           .then(data => {
                              if (data.errorMessage) {
                                 console.log("error adress");

                                    document.getElementById("errorMessag").innerText = data.errorMessage;
                              } else {
                                 
                                    window.location.href = "/address";
                              }
                           })
                           .catch(error => {
                              console.error("Error:", error);
                           });
                     
                  }
         
                                          </script>
              
                     </div>
                  </div>



               <!-- add address -->

                              <style>
                                 input{
                                 border-radius: 20px;
                                 }
                              </style>
                     
                              <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                 <div class="offcanvas-header">
                                 <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Add your address</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                 </div>
                                 <div class="offcanvas-body">
                                 <form>

                                    
                                       <p  id="errorMessage" style="color: red;"></p>
                        

                                   

                                             <label for="user-name">userName:</label>
                                             <input type="text" id="userName" name="userName" required>


                                             <label for="address">Address:</label>
                                             <textarea id="address" name="address" rows="4" cols="20" required></textarea>

                                             <label for="city">City:</label>
                                             <input type="text" id="city" name="city" required>

                                             <label for="state">State:</label>
                                             <input type="text" id="state" name="state" required>

                                             <label for="zipcode">Zip Code:</label>
                                             <input type="text" id="zipcode" name="zipcode" required>

                                             <label for="phone">Phone:</label>
                                             <input type="text" id="phone" name="phone" required>


                                             <label for="country">Country:</label>
                                             <input type="text" id="country" name="country" required>

                                             
                                             <input type="button" onclick="addAddress(this)"  value="submit">
                                                            
                     
                                 </form>
                              </div>
                              </div>


               <!-- end of add address -->




               
               <script>
                  function addAddress(btn){
                     const userName=document.getElementById("userName").value;
                     const address=document.getElementById("address").value;
                     const city=document.getElementById("city").value;
                     const state=document.getElementById("state").value;
                     const Zipcode=document.getElementById("zipcode").value;
                     const phone=document.getElementById("phone").value;
                     const country=document.getElementById("country").value;

                     const addressData={
                     userName:userName,
                     address:address,
                     city:city,
                     state:state,
                     zipcode:Zipcode,
                     phone:phone,
                     country:country
                     }

                     fetch('/addAddress',{
                        method: "POST",
                        headers: {
                        'Content-Type': 'application/json'
                        },
                     body: JSON.stringify(addressData)
                           })
                           .then(response => response.json())
                          
                           .then(data => {
                              if (data.errorMessage) {
                                 console.log("error adress");

                                    document.getElementById("errorMessage").innerText = data.errorMessage;
                              } else {
                                 console.log("add adress");
                                    window.location.href = "/address";
                              }
                           })
                           .catch(error => {
                              console.error("Error:", error);
                           });
                     
                  }
               </script>

               <!-- confirmation modal -->
               <script>
               function openModal(itemId) {
                  // Get the modal corresponding to the item
                  var modal = document.getElementById("myModal_" + itemId);
                  // Set the form action dynamically
                  var form = document.getElementById("removeForm_" + itemId);
                  form.action = "/deleteAddress/" + itemId;
                  // Display the modal
                  modal.style.display = "block";
                
                  // Get the <span> element that closes the modal
                  var closeButtons = modal.querySelectorAll(".close");
                
                  // Loop through close buttons to attach event listeners
                  closeButtons.forEach(function(closeButton) {
                    closeButton.addEventListener("click", function() {
                      modal.style.display = "none";
                    });
                  });
                
                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function(event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                  };
                
                  // When the user clicks the confirm button, handle confirmation
                  var confirmButton = modal.querySelector("#confirmBtn");
                  confirmButton.addEventListener("click", function() {
                    // Add your confirmation logic here, such as removing the item
                    // For demonstration purposes, let's just close the modal
                    modal.style.display = "none";
                  });
                }
                
                // Get all the buttons with class "remove-btn"
                var removeButtons = document.querySelectorAll(".remove-btn");
                
                // Loop through each button and attach a click event listener
                removeButtons.forEach(function(button) {
                  button.addEventListener("click", function() {
                    openModal(button.dataset.itemId);
                  });
                });
               </script>
               <!-- end  confirmation modal -->





         
         <footer>
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                      <div class="full">
                         <div class="logo_footer">
                           <a href="#"><img width="210" src="images/logo.png" alt="#" /></a>
                         </div>
                         <div class="information_f">
                           <p><strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                           <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                           <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
                         </div>
                      </div>
                  </div>
                  <div class="col-md-8">
                     <div class="row">
                     <div class="col-md-7">
                        <div class="row">
                           <div class="col-md-6">
                        <div class="widget_menu">
                           <h3>Menu</h3>
                           <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Testimonial</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Contact</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="widget_menu">
                           <h3>Account</h3>
                           <ul>
                              <li><a href="#">Account</a></li>
                              <li><a href="#">Checkout</a></li>
                              <li><a href="#">Login</a></li>
                              <li><a href="#">Register</a></li>
                              <li><a href="#">Shopping</a></li>
                              <li><a href="#">Widget</a></li>
                           </ul>
                        </div>
                     </div>
                        </div>
                     </div>     
                     <div class="col-md-5">
                        <div class="widget_menu">
                           <h3>Newsletter</h3>
                           <div class="information_f">
                             <p>Subscribe by our newsletter and get update protidin.</p>
                           </div>
                           <div class="form_sub">
                              <form>
                                 <fieldset>
                                    <div class="field">
                                       <input type="email" placeholder="Enter Your Mail" name="email" />
                                       <input type="submit" value="Subscribe" />
                                    </div>
                                 </fieldset>
                              </form>
                           </div>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- footer end -->
         
    
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
         </div>
      </body>
    </html>