<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="/user/images/favicon.png" type="">
      <title>Famms - Fashion HTML Template</title>
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="/user/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="/user/css/cart.css" />
      <!-- font awesome style -->
      <link href="/user/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/user/css/style.css" rel="stylesheet" />
      <link href="/user/css/modal.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/user/css/responsive.css" rel="stylesheet" />



      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
      <script src="https://kit.fontawesome.com/bdf5ca2238.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-HjWTaj0X2ZqbuxOXz5m9pfRqCsI0i2O3evR5Fn2TtrNT6Zmd25FuXtRT5U9M1efTTrT7oLh+j/Y9BKcRnNQ8IQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  







   </head>
   <body>
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="index.html"id="defender">𝕯𝖊𝖋𝖊𝖓𝖉𝖊𝖗</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item active">
                           <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="about.html">About</a></li>
                              <li><a href="testimonial.html">Testimonial</a></li>
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/userSideProduct/sort">Products</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="blog_list.html">Blog</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/userProfile">Profile</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">
                              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                 <g>
                                    <g>
                                       <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                    </g>
                                 </g>
                                 
                              </svg>
                           </a>
                        </li>
                        
                        <form class="form-inline">
                           <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                           <i class="fa fa-search" aria-hidden="true"></i>
                           </button>
                        </form>
                        <li class="nav-item">
                           <a class="nav-link" href="/userlogout">logout</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </header>

        
         <style>
            /* Your CSS styles here */
            body {
                    font-family: Arial, sans-serif;
                    background-color: #6E6E6E;
                    margin: 0;
                    padding: 0;
                }
                @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
    *
    {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        padding-top: 56px; /* Adjust based on the height of your navbar */
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        /* display: flex; */
        
    }
    
    
    
    
    
    .section-padding{
        padding: 100px 0; 
        }
    
                .cart {
                    width: 1200px;
                    margin: 90px auto;
                    background-color:#f7feeb;
                    border-radius: 8px;
                    
                    box-shadow: 10px 10px 14px rgba(108, 98, 98, 0.4);

                }
                .home-link {
                display: inline-block;
                padding: 10px 20px;
                margin: 10px 20px;
                text-decoration: none;
                color: #080808;
                background-color: #00000000;
                border-radius: 10px;
                transition: background-color 1s, color 2s;
            }
    
            .home-link:hover {
                background-color: #0000006d;
                color: rgb(255, 255, 255);
            }
    
                .cart-title {
                    padding: 20px;
                    font-size: 1.5rem;
                    font-weight: bold;
                    border-bottom: 1px solid #ccc;
                }
    
                .cart-table {
                    width: 100%;
                    border-collapse: collapse;
                }
    
                .cart-table th,
                .cart-table td {
                    padding: 15px;
                    text-align: left;
                    border-bottom: 1px solid #eee;
                }
    
                .cart-table th:first-child,
                .cart-table td:first-child {
                    padding-left: 20px;
                }
    
                .cart-table th:last-child,
                .cart-table td:last-child {
                    padding-right: 20px;
                }
    
                .product-image {
                    max-width: 100px;
                    max-height: 80px;
                    border-radius: 4px;
                }
    
                .quantity-input {
                    width: 60px;
                    padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    text-align: center;
                }
    
                .remove-btn {
                    padding: 8px 15px;
                    background-color: #ff4c57;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }
    
                .remove-btn:hover {
                    background-color: #d1404a;
                }
    
                .cart-footer {
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                .total-price {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
    
                .checkout-btn {
                    padding: 12px 25px;
                    background-color: #4caf50;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }
    
                .checkout-btn:hover {
                    background-color: #45a049;
                }
    
                .empty-cart-message {
                    text-align: center;
                    padding: 20px;
                    display: none;
                    animation: fadeIn 0.5s ease-out forwards;
                }
    
                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
    
                .shop-now-btn {
                    padding: 10px 20px;
                    background-color: #ff4c57;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    animation: slideIn 0.5s ease-out forwards;
                }
    
                .shop-now-btn:hover {
                    background-color: #d1404a;
                }
    
                @keyframes slideIn {
                    from {
                        transform: translateY(50px);
                        opacity: 0;
                    }
                    to {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
                .custom-swal-container {
                font-family: 'Roboto', sans-serif;
            }
            .custom-swal-title {
                color: #3085d6;
                font-size: 24px;
            }
            .custom-swal-text {
                color: #777;
                font-size: 16px;
            }
            .custom-swal-confirm-button {
                background-color: #3085d6;
                color: #fff;
                border: none;
                cursor: pointer;
            }
            .custom-swal-cancel-button {
                background-color: #d33;
                color: #fff;
                border: none;
                cursor: pointer;
            }
                
            .quantity-btn {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 14px;
        }
    
        .quantity-btn:hover {
            background-color: #f0f0f0;
        }
        .cart {
        position: relative;
        top: -35px; /* Adjust this value as needed */
    }
    .back-button {
        position: absolute;
        top: 85px;
        left: 80px;
        z-index: 1000; /* Ensure the button is above other elements */
    }
    
    .back-button a {
        font-size: 24px; /* Increase the font size of the icon */
        padding: 10px; /* Add some padding around the icon */
        color: #000; /* Adjust the color as needed */
        text-decoration: none;
    }
    
    .back-button a:hover {
        color: #333; /* Change the color on hover */
    }
        </style>
    </head>
    <body>
    
        
        
        
        <div class="cart">
            <div class="cart-title">Shopping Cart</div>
            
            
                <% if (cartData.length === 0) { %>
                    <div class="empty-cart-message" style="display: block;">
                        Your cart is empty. <a href="/userSideProduct/sort" class="shop-now-btn" style="text-decoration: none;">Shop Now</a>
                    </div>
                <% } else { %>
            
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="cart-items">
                    <% var total = 0; %>
       <%cartData.forEach((item,id)=>{%>         
        <tr>
    
            <!-- Display the product image -->
            <td><img src="<%=item.image%>" alt="" class="product-image" /></td>
    
            <!-- Display the product name -->
            <td><%=item.product%> </td>
            <!-- Display the product price -->
            <td>
                
                    <!-- Handle the case where price is not available -->
                    <span><%=item.price%></span>
                
            </td>
            
            <td class="quantity-cell">
                <button class="quantity-btn quantity-minus" onclick="decreaseQuantity('<%=item._id%>', '<%=item.price%>')">
                    <i class="fas fa-minus"></i>
                </button>
                <input data-item-id="<%= item._id%>" type="number" class="quantity-input" id="quantity_<%= item._id%>" value="<%= item.quantity%>" min="1" max="<%= item.stock%>" disabled>
                <button class="quantity-btn quantity-plus" onclick="increaseQuantity('<%=item._id%>', '<%=item.price%>')">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
            
            <!-- Display the total price for this item -->
            <% var itemTotal = item.quantity * item.price; %>
            <td class="subtotal" id="subtotal_<%= item._id %>">₹ <span id="itemTotal_<%= item._id %>"><%= itemTotal %></span></td>
            <%  total = total + itemTotal; %>
            
            
            
            
    
            <td>
                <button class="remove-btn" onclick="openModal('<%= item._id %>')">Remove</button>
            </td>
    
            <!-- Modal for confirmation -->
            <div id="myModal_<%= item._id %>" class="modal">
                <div class="modal-content" id="model_data">
                    <span class="close">&times;</span>
                    <p>Are you sure you want to remove?</p>
                    <!-- Form with dynamically set action -->
                    <form id="removeForm_<%= item._id %>" method="post" action="/cartRemove/<%= item._id %>">
                        <button type="submit" id="confirmBtn">Confirm</button>
                    </form>
                </div>
            </div>
        </tr>
    <% })} %>
         <!-- Modal -->
         
<!-- end of Modal -->    
                    
                </tbody>
            </table>
          
              
            <div class="cart-footer">
                <div class="total-price">Total: ₹<span id="totalCart"><%= total %></span></div>
                <% if (cartData.length === 0) { %>
                    <a href="/checkout" onclick="handleCheckout()" style="display: none;"><button class="checkout-btn">Checkout</button></a>
                    <%} else {%>
                    <a href="/checkout" onclick="handleCheckout()"><button class="checkout-btn">Checkout</button></a>
                    <%} %>
            </div>
          
    
        </div>
        
        <script>

        </script>
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    
    <script>
       



//         function updateQuantity(itemId){
//              const data=document.getElementById('quantity_'+itemId) 
//             console.log(itemId);
//         // Send fetch request to backend
//         fetch('/update_quantity', {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json'
//             },
//             body: JSON.stringify({
//                 itemId: itemId,
//                 newQuantity: newQuantity
//             })
//         })
//         .then(function(response) {
//             if (!response.ok) {
//                 throw new Error('Network response was not ok');
//             }
//             return response.json();
//         })
//         .then(function(data) {
//             console.log(data); // Handle success response
//         })
//         .catch(function(error) {
//             console.error('Error:', error); // Handle error
//         });
    
// }

    </script>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var cartTotalSpan = document.getElementById('totalCart');
            var total = (`<%= total %>`);  // Initialize total with the sum calculated in the loop
            cartTotalSpan.innerHTML = total; // Update the content of the span with the total
    
            // You might want to format the total as per your requirement
            // For example, if you want to display with 2 decimal places:
            // cartTotalSpan.textContent = total.toFixed(2);
        });
    
        // Function to decrease quantity
        function decreaseQuantity(productId, price) {
            
            const inputField = document.getElementById('quantity_' + productId);
            let newValue = parseInt(inputField.value) - 1;
            newValue = newValue < 1 ? 1 : newValue; // Ensure quantity doesn't go below 1
            inputField.value = newValue;
            fetch('/update_quantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ newValue: newValue,productId:productId })
        }).then(response => response.json())
                          
                          .then(data => {
                             if (data.message) {
                                
                                   document.getElementById("quantity_" +productId).innerText = data.message;
                             } else {
                                
                                   window.location.href = "/cart";
                             }
                          })
                          .catch(error => {
                             console.error("Error:", error);
                          });
    
            // Update subtotal
            updateSubtotal(productId, newValue, price);
            updateTotal();
        }
    
        // Function to increase quantity
        function increaseQuantity(productId, price) {
            const inputField = document.getElementById('quantity_' + productId);
            const maxStock = parseInt(inputField.getAttribute('max'));
            let newValue = parseInt(inputField.value) + 1;
    
            // Check if newValue exceeds max stock limit
            if (newValue > maxStock) {
                // Display a SweetAlert indicating the maximum stock limit reached
                Swal.fire({
                    title: 'Error',
                    text: 'Maximum stock limit reached',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                return; // Exit function without updating quantity
            }
    
            // Update quantity if not exceeding max stock limit
            inputField.value = newValue;
            
            fetch('/update_quantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ newValue: newValue ,productId:productId })
        })
        .then(response => {
    if (response.ok) {
        // If response is successful (status code 200), handle success message
        return response.json(); // Parse response body as JSON
    } else {
        // If response status is not OK, handle error
        throw new Error('Failed to update quantity');
    }
})
.then(data => {
    // Handle success response here
    console.log(data); // This will log the response from the server
    // You can perform additional actions based on the response if needed
})
.catch(error => {
    // Handle any errors that occur during fetch
    console.error('Error updating quantity:', error);
    // You can display an error message or perform any other error handling here
});
    
            // Update subtotal
            updateSubtotal(productId, newValue, price);
            updateTotal();
        }
    
        // Function to update subtotal
        function updateSubtotal(productId, quantity, price) {
            const subtotalElement = document.getElementById('subtotal_' + productId);
            const subtotal = quantity * price;
            subtotalElement.textContent = '₹ ' + subtotal;
        }
    
        // Function to update total
        function updateTotal() {
            var total = 0;
            document.querySelectorAll('.subtotal').forEach(function(subtotal) {
                total += parseFloat(subtotal.textContent.replace('₹ ', ''));
            });
            document.getElementById('totalCart').textContent = total;
        }


    </script>

          <!-- footer start -->
      <footer>
        <div class="container">
           <div class="row">
              <div class="col-md-4">
                  <div class="full">
                     <div class="logo_footer">
                       <a href="#"><img width="210" src="images/logo.png" alt="#" /></a>
                     </div>
                     <div class="information_f">
                       <p><strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                       <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                       <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
                     </div>
                  </div>
              </div>
              <div class="col-md-8">
                 <div class="row">
                 <div class="col-md-7">
                    <div class="row">
                       <div class="col-md-6">
                    <div class="widget_menu">
                       <h3>Menu</h3>
                       <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Testimonial</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Contact</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="widget_menu">
                       <h3>Account</h3>
                       <ul>
                          <li><a href="#">Account</a></li>
                          <li><a href="#">Checkout</a></li>
                          <li><a href="#">Login</a></li>
                          <li><a href="#">Register</a></li>
                          <li><a href="#">Shopping</a></li>
                          <li><a href="#">Widget</a></li>
                       </ul>
                    </div>
                 </div>
                    </div>
                 </div>     
                 <div class="col-md-5">
                    <div class="widget_menu">
                       <h3>Newsletter</h3>
                       <div class="information_f">
                         <p>Subscribe by our newsletter and get update protidin.</p>
                       </div>
                       <div class="form_sub">
                          <form>
                             <fieldset>
                                <div class="field">
                                   <input type="email" placeholder="Enter Your Mail" name="email" />
                                   <input type="submit" value="Subscribe" />
                                </div>
                             </fieldset>
                          </form>
                       </div>
                    </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- footer end -->

     
     <div class="cpy_">
        <p class="mx-auto">© 2021 All Rights Reserved By <a href="https://html.design/">Free Html Templates</a><br>
        
           Distributed By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        
        </p>
     </div>
     <script src="/user/js/modal.js"></script>
     <!-- jQery -->
     <script src="/user/js/jquery-3.4.1.min.js"></script>
     <!-- popper js -->
     <script src="/user/js/popper.min.js"></script>
     <!-- bootstrap js -->
     <script src="/user/js/bootstrap.js"></script>
     <!-- custom js -->
     <script src="/user/js/custom.js"></script>
  </body>
</html>