<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodeAtNow - CSS Filter Cards</title>
  <link rel="stylesheet" href="/user/css/Coupon.css">
  <link rel="stylesheet" type="text/css" href="/user/css/bootstrap.css" />
      <!-- font awesome style -->
      <link href="/user/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/user/css/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/user/css/responsive.css" rel="stylesheet" />

</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<%-include('./partials/navbar.ejs')%>
<%if(couponData.length===0){%>
  <p>Tempory no coupon is available</p>
<%}else{%>
 
<section class="hero-section">
 
  <div class="container">
    <div class="row">
      <!-- Start of loop -->
      <%couponData.forEach((items,id)=>{%>
        <div class="coupons">
        <div class="coupon">
          <div class="coupon-intro">
            <h4><%=items.couponCode%></h4>
            <ul>
             
              <li><%=items.expiryDate%></li>
              <li><%=items.couponCode%></li>
            </ul>
          </div>
          <div class="coupon-value">
            <%=items.discount%>%
          </div>
        </div>

        </div>
        
      <%})%>


    </div>
  </div>
   
 
   
    
</section>

<%}%>

<!-- partial -->
<%-include('./partials/footer.ejs')%>
</body>
</html>