<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="/user/images/favicon.png" type="">
      <title>Famms - Fashion HTML Template</title>
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="/user/css/bootstrap.css" />
      <!-- font awesome style -->
      <link href="/user/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/user/css/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/user/css/responsive.css" rel="stylesheet" />
   </head>
   <body>
      <div class="hero_area">
         <!-- header section strats -->
         <%-include('./partials/navbar.ejs')%>
         <style>
            .e-body {
              padding: 60px; /* Adjust the padding value as needed */
            }
          </style>

         <style>
           

html, body {
    height: 100%;
    width: 100%;
}
*, *:before, *:after {
    box-sizing:border-box;
}
body {
  
}

strong {
    font-weight:bold;
}

h1 {
    font-size:22px;
}
h2 {
     font-size:18px;
}
#email {
    width:100%;
    max-width:600px;
    background:white;
    color:#333;
    
    .e-head {
        padding:10px;
        background:orange;
        color:white;
        font-weight:bold;
        text-align: center;
       
    }
    
    .e-body {
        padding:30px;
        margin-left: 55%;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 700px;
        box-shadow: 0 0 15px rgba(84, 70, 70, 0.5);
    }
    
    table {
        .borderBottom th {
            border-bottom:1px solid #ccc;
        }
        .borderTop th {
            border-top:1px solid #ccc;
        }
    }
    
    .total {
        background:orange;
        color:white;
    }
}
         </style>
         <style>
            /* Your CSS styles */
            .download-pdf-btn {
                position: absolute;
                
                right: 240px;
                width: 300px;
                height: 50px;
                margin-top: 160px;
                margin-right: 230px;
                background-color: orange;
            }
            .download-excel-btn{
                position: absolute;
                
                right: 220px;
                width: 350px;
                height: 50px;
                margin-top: 320px;
                background-color: orange;

            }
         </style>

<button id="downloadPdf" class="total download-pdf-btn" style="border: none;">Download PDF</button>
  
         <div id="email">
           
            <div class="e-body">
                <h1><strong style="font-size: 60px;"> Invoice</strong></h1>
                <p>Thanks for your order, the details are listed below</p>
                
                <table width="50%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" width="30%"><strong>Order No:</strong></td>
                            <td align="left"><%=order.orderNumber%></td>
                        </tr>
                        <tr>
                            <td align="left"><strong>Date:</strong></td>
                            <td align="left"> <%=new Date(order.orderDate).toLocaleDateString("en-US") %> <%= new Date(order.orderDate).toLocaleTimeString("en-US", { hour: '2-digit', minute: '2-digit' }) %></td>
                        </tr>
                        <tr>
                            <td align="left"><strong>Payment:</strong></td>
                            <td align="left"><%=order.paymentMethod%></td>
                        </tr>
                    </tbody>
                </table>
                <BR>
                <table width="100%" cellspacing="0" cellpadding="5">
                    <tr>
                        <td width="50%">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th align="left">Billing address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="left"><%=order.address.address%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.city%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.state%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.country%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.zipcode%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="50%">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th align="left">Shipping Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="left"><%=order.address.address%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.city%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.state%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.country%></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><%=order.address.zipcode%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                
                <BR>
                    
                <table width="100%" cellspacing="0" cellpadding="5">
                    <thead class="borderBottom">
                        <tr style="background-color:#f0f0f0;">
                            <th width="18%" align="left">Item</th>
                            <th width="50%" align="left">Description</th>
                            <th width="12%" align="left">Qty</th>
                            <th width="12%" align="left">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%order.products.forEach((item,id)=>{%>
                            <tr style=" <%= id % 2 === 0 ? 'background-color:  #ffffff;' : 'background-color:#f0f0f0;' %>">
                            <td align="left"><img src="<%=item.productImage%>" alt="" style="width:80px;height: 80px;">
                            <br><%=item.productName%></td>
                            <td align="left" ><%=item.productDescription%></td>
                            <td align="left"><%=item.quantity%></td>
                            <td align="left">₹ <%=item.price%></td>
                        </tr>
                        <%})%>
                       
                    </tbody>
                    <thead>
                        
                         <tr>
                            <th colspan="2"></th>
                            <th align="left">Total Qty</th>
                            <th width="12%" align="right"><%=order.totalQuantity%></th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th align="left">Total</th>
                            <th width="12%" align="right">₹ <%=order.totalPrice%></th>
                        </tr>
                        
                    </thead>
                </table>
            </div>
            </div>
            </div>
        
        </div>
       



        <%-include('./partials/footer.ejs')%>
         <!-- footer end -->
         <div class="cpy_">
            <p class="mx-auto">© 2021 All Rights Reserved By <a href="https://html.design/">Free Html Templates</a><br>
            
               Distributed By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            
            </p>
         </div>
         <!-- jQery -->
         <script src="/user/js/jquery-3.4.1.min.js"></script>
         <!-- popper js -->
         <script src="/user/js/popper.min.js"></script>
         <!-- bootstrap js -->
         <script src="/user/js/bootstrap.js"></script>
         <!-- custom js -->
         <script src="/user/js/custom.js"></script>
         <!-- download-pdf -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

         <script>
            // When the button is clicked
            document.getElementById('downloadPdf').addEventListener('click', function() {
              // Target the element to convert to PDF
              const element = document.querySelector('.e-body');
          
              // Define options (optional)
              const options = {
                filename: 'defender-invoice.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', margin: { left: 2.5, right: 3.5, top: 3.5, bottom: 0.5 } }
              };
          
              // Convert HTML element to PDF
              html2pdf().set(options).from(element).save();
            });
          </script>

      

          
          
      </body>
   </html>